node_modules
**/node_modules
dist
**/dist
.env
**/.env
.env.local
**/.env.local
**/*.kdbx
.git
.gitignore
coolify_token
**/coolify_token
*.db
*.db-shm
*.db-wal
playwright-report
**/playwright-report
storybook-static
**/storybook-static
test-results
**/test-results
coverage
**/coverage
*.log
.DS_Store
